/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #5436EA;
$secondary-color: #B100E8;
$tertiary-color: #B100E8;
$black-color: #0D0628;
$white-color: #F4F6FC;

$primary-font: 'Montserrat', serif;
$secondary-font: 'Montserrat', sans-serif;