/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #5436EA;
$secondary-color: #B100E8;
$black-color: #0D0628;
$white-color: #F4F6FC;

$primary-font: 'Montserrat', serif;
$secondary-font: 'Montserrat', sans-serif;

button {
    background-color: var(--first-color, $white-color);
    color: var(--sec-color, $primary-color);
    width: 8.5em;
    height: 2.9em;
    border: var(--sec-color, $primary-color) 0.1em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.3s ease;
}
  
button:hover {
    background-color: var(--sec-color, $primary-color);
    color: var(--first-color, $white-color);
    cursor: pointer;
}