@import '../../../styles';

.chart-container {
  position: relative;
  width: 800px;
  height: 600px;
  border: 3px solid #5436EA; // Add border around the chart
  padding: 20px; // Add padding around the chart to ensure space between axes and border
}
