@import '../../../styles';

.container {
  display: flex;
  flex-direction: column;
}

.footer-sections{
  background-color: $primary-color;
  opacity: 0.9;
  border-top: 1px solid $black-color;
  display: inline-flex;
  justify-content:center;
  padding: 40px;
  color: $white-color;

  // marging for text
  h2{
    margin-bottom: 15px;
  }

  p{
    margin-bottom: 10px;
  }
}

// .languages-section{
//   margin-bottom: 10px;
// }

.res-section {
  ul {
    list-style-type: none;
    a {
      color: $white-color;
      text-decoration: none;
      &:hover {
        color: $black-color; 
      }
    }
  }
}

// bottom section
.footer-bottom {
  background-color: $white-color;
  color: $primary-color;
  display: flex;
  flex-direction: row;  
  padding: 20px;
  font-family: $secondary-font;
  font-size: small;
  border-top: 1px solid $black-color;
  justify-content: center;

  .footer-nav {
    a {
      color: $primary-color;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        color: $secondary-color;
      }
    }

    a::after {
      content: " |";
    }
  }

  p {
    margin: 0;
  }
}
