<div class="container">
  <img src="assets/logo2.svg" alt="Logo Methex" class="logo">
  <nav class="nav">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#tech">Technology</a></li>
      <li><a href="#solutions">Solutions</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-toggle" [(ngModel)]="isMenuOpen">
    <label for="menu-toggle" class="menu__icon">
      <span class="trait"></span>
      <span class="trait"></span>
      <span class="trait"></span>
    </label>
    <div class="options">
      <ul>
        <li><a href="#home" (click)="closeMenu()">Home</a></li>
        <li><a href="#about" (click)="closeMenu()">About</a></li>
        <li><a href="#tech" (click)="closeMenu()">Technology</a></li>
        <li><a href="#solutions" (click)="closeMenu()">Solutions</a></li>
        <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
