@import '../../../styles';

.container {
  display: flex;
  align-items: center;
  background-color: $white-color;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid $black-color; 
}

.logo {
  width: 150px; 
  height: auto;
  margin: 10px;
}

.nav {
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: $primary-font;
    font-weight: bold;

    li {
      margin-right: 30px;
      position: relative;

      a {
        text-decoration: none;
        color: $primary-color; 
        font-size: 1.2rem; 
        transition: color 0.3s ease; 

        &:hover {
          color: $secondary-color; 
        }

        &::after {
          content: '';
          display: block;
          width: 8px; /* Size of the dot */
          height: 8px;
          background-color: $secondary-color; 
          border-radius: 50%;
          position: absolute;
          left: 50%;
          bottom: -50%;
          transform: translateX(-50%);
          transition: opacity 0.3s ease;
          opacity: 0;
        }

        /* Show dot on hover */
        &:hover::after {
          opacity: 1;
        }
      }
    }
  }
}