@import '../../../../styles';

.landing-page {
  font-family: $primary-font;
  background-color: $white-color;

  .hero-section {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .logo-and-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 1.5rem;
          margin-bottom: 10px;
          color: $tertiary-color;
          font-family: $primary-font;
        }

        p {
          font-size: 1rem;
          font-family: $secondary-font;
        }

        .logo {
          // width: 100%;
          max-width: 750px;
        }
      }
    }
  }

  .mission-section {
    padding: 50px 20px;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }

    .mission-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .card {
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        border-color: $tertiary-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex: 1;
        max-width: 300px;
        text-align: left;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }

  .about-us-section {
    padding: 50px 20px;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.6;
    }
  }
}


// server css animation
.container_SevMini {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Ghost {
  transform: translate(0px, -25px);
  z-index: -1;
  animation: opacidad 4s infinite ease-in-out;
}

@keyframes opacidad {
  0% {
    opacity: 1;
    scale: 1;
  }

  50% {
    opacity: 0.5;
    scale: 0.9;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes estroboscopico {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rebote {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes estroboscopico1 {
  0%,
  50%,
  100% {
    fill: rgb(255, 95, 74);
  }

  25%,
  75% {
    fill: rgb(16, 53, 115);
  }
}

@keyframes estroboscopico2 {
  0%,
  50%,
  100% {
    fill: #17e300;
  }

  25%,
  75% {
    fill: #17e300b4;
  }
}

.SevMini {
  animation: rebote 4s infinite ease-in-out;
}

#strobe_led1 {
  animation: estroboscopico 0.5s infinite;
}

#strobe_color1 {
  animation: estroboscopico2 0.8s infinite;
}

#strobe_color3 {
  animation: estroboscopico1 0.8s infinite;
  animation-delay: 3s;
}

