@import '../../../../styles';

.landing-page {
  font-family: $primary-font;
  background-color: $white-color;

  .hero-section {
    padding: 50px 20px;
    display: flex;
    align-items: center;

    .hero-content {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      .logo-and-text {
        display: flex;
        flex-direction: column;
        max-width: 50%;

        h2 {
          font-size: 4rem;
          margin-bottom: 50px;
          color: $black-color;
          font-family: $primary-font;
          text-align: center;
        }

        h3 {
          font-size: 1.5rem;
          margin-bottom: 30px;
          color: $primary-color;
          font-family: $secondary-font;
          text-align: left;
          opacity: 0%;
          animation: fadeInAnimation 2s ease forwards; 
        }

        button {
          width: 12em;
          height: 3em;
          border-radius: 30px;
          font-size: 25px;
          font-weight: 600;
          opacity: 0%;
          animation: fadeInAnimation 2s ease forwards; 
        }
      }
    }
  }

  .hero-animation-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      z-index: 10;
      font-size: 6em;
      color: $primary-color;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      opacity: 0%;
      transition: opacity 0.8s ease;
    }

    &:hover {
      h1 {
        opacity: 1;
      }
    }
  
  }

  .mission-section{
    
  }

  .about-us-section {
    padding: 50px 20px;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.6;
    }
  }
}

// crypto logo section
.svg-frame {
  height: 500px;
  width: 500px;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  // border: var(--sec-color, $primary-color) 0.1em solid;
  // border-radius: 11px;
}

.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  fill: none;
  margin: 0;
  padding: 0;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: $secondary-color;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: $secondary-color;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

// animation section
@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}