<table class="styled-table">
    <thead>
        <tr>
        <th class="first-column">Name</th>
        <th>Last Value</th>
        <th>Avg Value</th>
        <th>% Modifier</th>
        <th>% Votality</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
        <td class="first-column">{{ row.column0 }}</td>
        <td>{{ row.column1 }}</td>
        <td>{{ row.column2 }}</td>
        <td>{{ row.column3 }}</td>
        <td>{{ row.column4 }}</td>
        </tr>
    </tbody>
</table>
